extends layout

block content
    if post
        h1 Post
        p Here are the full post details:
        pre= JSON.stringify(post, null, 2)
    else
        h1 There's no such post!
    script.
        console.log(!{JSON.stringify(post)})